<?xml version="1.0"?>
<!--
==========================================================================
Web.config example configuration for Tek4.Highcharts.Exporting assembly.
==========================================================================
Author: Kevin P. Rice, Tek4(TM) (http://Tek4.com/)

Based upon ASP.NET Highcharts export module by Clément Agarini

Copyright (C) 2011 by Tek4(TM) - Kevin P. Rice

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

rev. 2011-08-18
-->
<configuration>

  <!-- THIS WEB.CONFIG IS FOR .NET VERSION 4.0 (and later) -->

  <!--
  This configures the HttpHandler option (HighchartsExport.axd). With this
  option you can delete the HighchartsExport.aspx page. This section is not 
  required if you prefer the .aspx page and don't want to use the HttpHandler.
  
  You can specify any name for the handler in path="..."  

  ASP.NET HttpHandler option:
  
  Advantages:
  - No page (.aspx) file needed.
  - An HttpHandler exists in all site subdirectories and child web applications 
    so there is no need to send an explicit URL path to Highcharts JS.
    
    NOTE for .NET version 4.0:
    The entire web site must use requestValidationMode="2.0" in order for
    the handler to work in every subdirectory. Alternatively, request
    validation can be specified for only one (or more) specific paths by
    using the <location> element (see below).
  -->
  <system.web>
    <httpHandlers>
      <add verb="POST" 
           path="HighchartsExport.axd"
           type="Tek4.Highcharts.Exporting.HttpHandler, Tek4.Highcharts.Exporting"/>
    </httpHandlers>
    
    <!--
    This allows HttpHandler to work in every subdirectory. This changes
    request validation for your entire web site. If you only want to allow
    version 2.0 request validation for the HighchartsExport.axd HttpHandler,
    delete this and use the <location path="..."> configuration section below.
     -->
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>

  <!-- 
  This section is needed if your web site does not specify version 2.0
  request validation. Specify the path where you want to allow the HttpHandler
  to work. The path is relative to the web.config file directory and must 
  not start with '/'.
  
  Examples:
    path="HighchartsExport.axd"
    path="Export/HighchartsExport.axd"
    
  You can specify any name for the handler, but it must match the name
  specified in the <httpHandlers> section above.
  -->
  <location path="HighchartsExport.axd">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>

  <!--
  This section is needed for .NET 4.0 (and later) if you want to use the
  HighchartsExport.aspx page to handle chart export requests.

  You can rename the .aspx file to anything you want and place it in any
  sub-directory, but the name and path below must match.
  
  If you choose to use the HttpHandler option, then you may delete this
  configuration section along with the HighchartsExport.aspx file.
  -->
  <location path="HighchartsExport.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>

</configuration>