<?xml version="1.0"?>
<!--
==========================================================================
Web.config example configuration for Tek4.Highcharts.Exporting assembly.
==========================================================================
Author: Kevin P. Rice, Tek4(TM) (http://Tek4.com/)

Based upon ASP.NET Highcharts export module by Clément Agarini

Copyright (C) 2011 by Tek4(TM) - Kevin P. Rice

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

rev. 2011-12-24 Latest Svg.dll requires .NET 3.5
rev. 2011-08-18 .NET 2.0
-->
<configuration>
	<!-- THIS WEB.CONFIG IS FOR .NET VERSION 3.5 -->
	<!--
  This configures the HttpHandler option (HighchartsExport.axd). With this
  option you can delete the HighchartsExport.aspx page. This section is not 
  required if you prefer the .aspx page and don't want to use the HttpHandler.
  
  You can specify any name for the handler in path="..."
  
  Advantages:
  - No page (.aspx) file needed.
  - An HttpHandler exists in all site subdirectories and child web applications 
    so there is no need to send an explicit URL path to Highcharts JS.  
  -->
	<system.web>
		<httpHandlers>
			<add verb="POST" path="HighchartsExport.axd" type="Tek4.Highcharts.Exporting.HttpHandler, Tek4.Highcharts.Exporting"/>
		</httpHandlers>
		<compilation debug="true"/></system.web>
</configuration>
